* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cart-container {
  margin: 40px 110px 60px 110px;
}

.arrow-img, .cart-img {
  height: 40px;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 2px solid black;
}

.continue-shopping {
  display: flex;
  align-items: center;
}

.con-shop {
  font-size: 30px;
  margin-left: 20px;
}

.cart-icon {
  position: relative;
  height: 100px;
  width: 50px;
  display: flex;
  align-items: center;
}

.cart-number {
  position: absolute;
  top: 15px;
  right: 0px;
  color: blue;
  font-size: 18px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(255, 162, 0);
}

/* Cart main container */
.cart-main-container {
  padding: 20px 0;
}

.cart-example {
  margin: 15px;
  padding: 15px 25px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: white;
}

.cart-image img {
  height: 100px;
  width: 120px;
}

.cart-title {
  flex-grow: 2;
  padding: 0 20px;
  font-size: 20px;
}

.cart-price {
  width: 80px;
  text-align: center;
  font-size: 20px;
}

.cart-quantity {
  display: flex;
  align-items: center;
}

.cart-quantity button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

.cart-quantity span {
  font-size: 20px;
}

.cart-delete {
  cursor: pointer;
  color: #ff6347;
  font-size: 24px;
}

.cart-total {
  padding-top: 20px;
  border-top: 2px solid black;
}

.cart-total-container {
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  height: 50px;
  font-size: 22px;
}
