*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.log{
    display:flex ;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.log-btn{
    height: 30px;
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #DE6347;
    margin-left: 10px;
}

.log-btn.active{
    background-color: #10a23c;

}

.log-btn:hover{
    background-color: aqua;
}

.user-name{
    color: rgb(240, 238, 255);
    padding-left: 10px;
    margin: 0;
    font-size: 20px;
}

.user-img{
    height: 35px;
    width: auto;
    border-radius: 50%;
}